@{
    ViewBag.Title = "ASP.NET Samples";
}
<div role="tabpanel">
    <ul class="nav nav-tabs" id="id-knt-tabpane-samples"  role="tablist">
        <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#id-aspnet-lifecycle-events">Life Cycle Events</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-request-properties">Request/Response Properties</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-default-modules">Default Modules</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-browser-capabilities">Browser Capabilities</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-statedata">State Data</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-registration">Session State</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-cache">Cache Data</a></li>
        <li role="presentation"><a role="tab" data-toggle="tab" href="#id-aspnet-cachecontent">Cache Content</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="id-aspnet-lifecycle-events">
             @Html.Action("Events", "ASPNET")
        </div>
        <div  role="tabpanel" class="tab-pane" id="id-aspnet-request-properties">
            @Html.Partial("~/Views/ASPNET/_RequestResponseProperties.cshtml")
        </div>
        <div role="tabpanel" class="tab-pane" id="id-aspnet-default-modules">
            @Html.Action("Modules", "ASPNET")
        </div>
        <div  role="tabpanel" class="tab-pane" id="id-aspnet-browser-capabilities">
            @Html.Partial("~/Views/ASPNET/Browser.cshtml")
        </div>
        <div role="tabpanel" class="tab-pane" id="id-aspnet-statedata">
            @Html.Action("StateData", "ASPNET")
        </div>
        <div role="tabpanel" class="tab-pane" id="id-aspnet-registration">
            @Html.Action("Registration", "ASPNET")
        </div>
        <div role="tabpanel" class="tab-pane" id="id-aspnet-cache">
            @Html.Action("CacheData", "ASPNET")
        </div>
        <div role="tabpanel" class="tab-pane" id="id-aspnet-cachecontent">
             @Html.Action("CachingContent", "ASPNET")
        </div>
    </div>
</div>
<script>

    $('id-knt-tabpane-samples').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

</script>
